*{
	margin: 0;
	padding:  0;

}

html, body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;

}
.background{
	
	width: 100%;
	height:  100%;
	background-image : url(../image/ronaldo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}


.skill{
	
	position: absolute;
	left: 10px;
	top: 10px;
	color: white;
	font-family: verdana;
	padding: 0 60px;

}
.skill p{
	font-size: 25px;
	line-height: 38px;
	margin-bottom: 25px;
}

